::selection {
	background-color: #CCC;
}

body {
	font-family: "Georgia", "Segoe UI", sans-serif;
	line-height: 1.5em;
}

a { color: #E01B5D; }
table { width: 100%; }
tr:nth-child(even) { background-color: #CCC; }

td {
	margin: 1px;
	padding: 0 8px;
}

td:last-child { text-align: center; }

#header {
	margin-top: 20px;
	text-align: center;
	font-size: 2em;
}

#menu {
	margin-top: 20px;
	text-align: center;
}

#menu a {
	display: inline-block;
	padding: 4px 8px;
	background-color: #E01B5D;
	color: #FFF;
	text-decoration: none;
}

#menu a:hover {
	background-color: #CCC;
}

#search {
	margin-top: 20px;
	text-align: center;
}

#search input {
	width: 50%;
}

#books {
	width: 75%;
	margin: 20px auto;
}

#noBooks {
	font-style: italic;
	text-align: center;
}

#addBook {
	width: 35%;
	margin: 20px auto;
}

#addBook input[type='text'] {
	width: 99%;
	padding: 4px 8px;
	border: none;
}

/*#addBook div {
	padding: 4px 8px;
}*/

#addBookHeader {
	text-align: center;
	padding: 8px 12px;
	font-weight: bold;
/*	background-color: #E01B5D;
	color: #FFF;*/
}

.addBookRow {
	border-bottom: 1px solid #CCC;
}

.addBookRow:last-child {
	border: none;
}
